/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content styles */
main {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Header styles */
h2 {
    text-align: center;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
}

/* Styles for ads */
.left-ad, .right-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin: 15px;
}

main .content {
    width: 400px;
    height: 400px;
}

#redirect {
    width: 450px;
    max-width: 100%;
    min-height: 450px;
    margin: 10px 10px;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

#redirect p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#redirect img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#redirect h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#continueButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: none;
    transition: background-color 0.3s;
}

#continueButton:hover {
    background-color: #0056b3;
}

#countdown {
    font-size: 24px;
    color: #007bff;
}

/* Additional styles for responsive design */
@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}


/* RSS Feed Styles */
.rss-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  
}

.rss-item {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.rss-item:hover {
    transform: scale(1.05);
}

.rss-item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rss-item-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #007bff;
}

.rss-item-content p {
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 50px; /* Adjust as needed */
}

.rss-item-content .link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.rss-item-content .link:hover {
    text-decoration: underline;
}
